PORT=3000
DATABASE_URL=
JWT_SECRET=
FRONTEND_URL=http://localhost:3000

# CONFIGURAÇÃO PARA DOCKER COMPOSE:
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

PGADMIN_DEFAULT_EMAIL=advog@advog.com
PGADMIN_DEFAULT_PASSWORD=advog

# CONFIGURAÇÃO PARA MAILPIT:
SMTP_HOST=
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=nao-responda@escritorio.com.br