PORT=3000
DATABASE_URL=
JWT_SECRET=

# CONFIGURAÇÃO PARA DOCKER COMPOSE:
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

PGADMIN_DEFAULT_EMAIL=advog@advog.com
PGADMIN_DEFAULT_PASSWORD=advog

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=